# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Distribution / packages
dist/
build/
*.spec

# Logs
logs/
*.log

# VS Code
.vscode/

# Environment variables (contains passwords)
.env

# Project specific
uploads/
